<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Xəbərlər PDF</title>
</head>
<body>
    <h1>Dəmir Yolu Xəbərləri</h1>
    {% if news %}
        {% for news_item in news %}
        <h2>{{ news_item.title }}</h2>
        {% endfor %}
    {% else %}
        <p>Xəbərlər tapılmadı.</p>
    {% endif %}
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Xəbərlər PDF</title>
</head>
<body>
    <h1>Dəmir Yolu Xəbərləri</h1>
    {% if news %}
        {% for news_item in news %}
        <h2>{{ news_item.title }}</h2>
        {% endfor %}
    {% else %}
        <p>Xəbərlər tapılmadı.</p>
    {% endif %}
</body>
</html> -->
